@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';

::-moz-selection {
  background: $primary;
  color: $white;
}

::selection {
  background: $primary;
  color: $white;
}

body {
  font-family: 'Inconsolata', monospace;
  letter-spacing: .0625em;
}

a {
  color: $primary;

  &:focus,
  &:hover {
    text-decoration: none;
    color: lighten($primary, 8%);
  }
}

.text-white-75 {
  color: rgba(255, 255, 255, .75);
}

.text-black-25 {
  color: rgba(0, 0, 0, .25);
}

.bg-black {
  background-color: $pickled-bluewood !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

footer.row {
  margin: 0;
  padding: 50px 20px;

  #footer-heart {
    color: $primary;
  }
}
